.idea
filebrowser/database.db
freelib/database
grafana/data
minidlna/db
minidlna/logs
transmission/blocklists
transmission/resume
transmission/torrents
transmission/dht.dat
transmission/stats.json
victoria/cache
victoria/data
victoria/indexdb
victoria/metadata
victoria/snapshots
victoria/tmp
victoria/flock.lock
*.log