---
- name: Install keepalived
  ansible.builtin.apt:
    name: keepalived
    state: latest
  notify: Restart keepalived

- name: Configure keepalived
  ansible.builtin.template:
    src: keepalived.conf.j2
    dest: /etc/keepalived/keepalived.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart keepalived